<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= DOMAINS[@domain][:teaser].gsub('{{fullname}}', 'Somebody') %></title>
    <link rel="stylesheet" href="common.css" />
  </head>
  <body>
    <header>
      <hgroup>
        <h1>The Plonker Project</h1>
      </hgroup>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <ul>
        <li>
          &copy; <a href="https://danq.me/">Dan Q</a> 2017
          <%= (year = Time.now.year) > 2017 ? " &ndash; #{year}" : '' %>
        </li>
        <li><a href="/faq">Frequently Asked Questions</a></li>
        <li>
          <a href="https://github.com/Dan-Q/plonker">Open source</a> under the <a href="https://github.com/Dan-Q/plonker/blob/master/LICENSE">MIT license</a>
        </li>
    </footer>
  </body>
</html>
